body {
  font-family: Arial;
  margin: 0;
  padding: 0;
}

header {
  background-color: #005f99;
  color: white;
  padding: 15px;
  text-align: center;
}

nav a {
  color: white;
  margin: 10px;
  text-decoration: none;
}

img {
  width: 100%;
  max-width: 400px;
  border-radius: 10px;
}


@media (max-width: 768px) {
  header, main, footer {
    text-align: center;
  }

  nav a {
    display: block;
    margin: 5px 0;
  }

  img {
    max-width: 100%;
  }
}
